
<div class = "container">

<h3>
      <span style="color:rgb(10, 101, 160); font-weight:bolder">INTERVENTIONS!!!<br></span> Welcome Customer
      </h3>

  @* <%= form.text_field(:author, :readonly=>true, :value =>@author) %> *@
</div>


 <br>
 <p>                     
        
        </select>
        <br>
        <br>
        <br>
        <br>
        <h3>
        <span style="color:rgb(10, 101, 160); font-weight:bolder">FISRT<br></span>BUILDING
      </h3>
      <select style="max-width: 150px;" id="column_select" class="custom-select mb-0 mr-sm-0 mb-sm-0">
         <option selected>building</option>
        @foreach (var building in ViewBag.building){
                <option> @building.id </option>
        }
        </select>
        <br>
        <br>
        <br>
        <h3>
        <span style="color:rgb(10, 101, 160); font-weight:bolder">SECOND<br></span>BATTERY
      </h3>
      <select style="max-width: 150px;" id="battery_select" class="custom-select mb-0 mr-sm-0 mb-sm-0">
        <option selected>Battery</option>
        @foreach (var battery in ViewBag.batteries){
                <option> @battery.id </option>
        }
        </select>
        <br>
        <br>
        <br>
        <br>
        <h3>
        <span style="color:rgb(10, 101, 160); font-weight:bolder">FORTH<br></span>COLUMN
      </h3>
      <select style="max-width: 150px;" id="column_select" class="custom-select mb-0 mr-sm-0 mb-sm-0">
         <option selected>column</option>
        @foreach (var column in ViewBag.columns){
                <option> @column.id </option>
        }
        </select>
        <br>
        <br>
        <br>
        <h3>
         <span style="color:rgb(10, 101, 160); font-weight:bolder">LAST<br></span>ELEVATOR
      </h3>
      <select style="max-width: 150px;" id="elevator_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:elevatorID) do %> >
        <option selected>elevator</option>
        @foreach (var elevator in ViewBag.elevators){
                <option> @elevator.id </option>
        }
        </select>
        <br>
        <br>
        <br>
        <br>
        <p>

      
<p>

</div>                                                     
                    
  <form method="post">
  <input type="submit" name="submit" value="Submit" />
</form>
  



  
