<div class="text-center">

    <div class="col-sm-6">
        <img class="img-fluid" src="demo_files/images/laptop.png" alt="" />
    </div>

    <div class="col-sm-6"> Here at Rockets elevators we strive to give the best possible service to our clients.</p>

        <hr />

        <div class="row countTo-sm text-center">

            <div class="col-6 col-sm-4">
                <i class="fa fa-users fs-20"></i> &nbsp;
                <span class="countTo" data-speed="3000" style="color:#59BA41">1303</span>
                <h6>HAPPY CLIENTS</h6>
            </div>

            <div class="col-6 col-sm-4">
                <i class="fa fa-briefcase fs-20"></i> &nbsp;
                <span class="countTo" data-speed="3000" style="color:#774F38">56000</span>
                <h6>FINISHED PROJECTS</h6>
            </div>

            <div class="col-6 col-sm-4">
                <i class="fa fa-twitter fs-20"></i> &nbsp;
                <span class="countTo" data-speed="3000" style="color:#C02942">4897</span>
                <h6>TWITTER FOLLOWERS</h6>
            </div>

            @* <input type="button" value="Detail" id="buttonId" />
            <div class="card-content" id="inovation">
                <p>3</p>
            </div> *@

        </div>

    </div>

</div>

<br>
<br>
<br>
<br>
<div class="review-container">
    <h2>Reviews</h2>
    <label for="search" class="input-field">
        <i class="fas fa-search"></i>
        <input id="search" placeholder="Search for reviews ..." type="text">
    </label>

    <div class="cards">
        <div class="card">
            <div class="card-top">
                <div class="name">
                    <div class="img one" alt="">Customer</div>
                    <p>David the noble</p>
                </div>
                <div class="rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>

            <div class="card-content">
                <p>It wasn 't bad but i m sure i could have done it better</p>
            </div>

            <div class="card-action">
                <span>26 Nov, 2021</span>

            </div>

        </div>
        <div class="card">
            <div class="card-top">
                <div class="name">
                    <div class="img">Customer</div>
                    <p>Pamela A</p>
                </div>
                <div class="rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>

            <div class="card-content">
                <p>WOW the installation was very fast and the guy in charge was very handsome </p>
            </div>

            <div class="card-action">
                <span>02 Dec, 2021</span>

            </div>

        </div>
        <div class="card">
            <div class="card-top">
                <div class="name">
                    <div class="img">Customer</div>
                    <p>Not a real person</p>
                </div>
                <div class="rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>

            <div class="card-content">
                <p>mid </p>
            </div>

            <div class="card-action">
                <span>13 Oct, 2019</span>

            </div>

        </div>
        <div class="card">
            <div class="card-top">
                <div class="name">
                    <div class="img">Customer</div>
                    <p>Justin z</p>
                </div>
                <div class="rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>

            <div class="card-content">
                <p>I bought the normal model. Very happy with it!!</p>
            </div>

            <div class="card-action">
                <span>18 Sep, 2021</span>

            </div>

        </div>
        <div class="card">
            <div class="card-top">
                <div class="name">
                    <div class="img">Customer</div>
                    <p>Marc A</p>
                </div>
                <div class="rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>

            <div class="card-content">
                <p>Jesus they actually came today! Amazing work ethic </p>
            </div>

            <div class="card-action">
                <span>1 Jan, 2021</span>

            </div>

        </div>
        <div class="card">
            <div class="card-top">
                <div class="name">
                    <div class="img">Customer</div>
                    <p>Brian N</p>
                </div>
                <div class="rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>

            <div class="card-content">
                <p>The guy kept making mistakes! 0/10 will not buy again. Very angry!</p>
            </div>

            <div class="card-action">
                <span>30 Feb, 2024</span>

            </div>

        </div>
    </div>
</div>

@* <script>

    $('#buttonId').click(function () { //On click of your button

        var property1 = $('#invovation').val();

        var JSONObject = {
            Property1: property1,
        };

        $.ajax({
            type: 'PUT',
            // number = intervention id
            url: 'https://deployweek8api.azurewebsites.net/api/intervention/InProgress/7',
            data: JSON.stringify(JSONObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });

</script> *@